{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

    <p>Thank you for verifying your account, you may now login.</p>

    <a class="btn btn-primary" href="/login">Login</a>

{% endblock %}
