<img alt="Mind Tools" src="http://mttestapp.gezpage.com/images/header.jpg"/>

<hr/>

<p>Dear {{ user.name }},</p>

<p>
    Thanks for registering for the Mind Tools Personal Learning Plan.
    To complete the registration process please click the link below
</p>

<br/>

<a href="{{ link }}">Verify your account</a>

<br/>

<p>Regards</p>

<p>Mind Tools Team</p>
