{% extends 'layout.html.twig' %}

{% block title %}Registration Complete{% endblock %}

{% block content %}

    <h2>Thank you</h2>

    <p>We are sending you a verification email, please click the link inside to enable your account. You will then be allowed to login to the system.</p>

{% endblock %}
